.snake.container {
  margin: auto;
  font-family: Arial;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 500px;
  background: white;
}

#canvas-container {
  margin: auto;
}

div.snake, .canvas-container.snake {
  width: 100%;
}

.highlighted.snake{
  color: #FF6347;
}