div.containsCanvas{
  margin: 0 auto;
  background: #808080;
  font-family: Arial;
}
canvas{ 
  margin-left: 6;
  margin-right: 6;
  margin-top: 6;
  background: #3CB371;
}
p{
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  font-size: 20;
}
.p-subtext {
  font-size: 14;
}
.p-leftAlign {
  color: #A9A9A9;
  font-size: 14;
  float: left;
}
.p-rightAlign {
  color: #A9A9A9;
  font-size: 14;
  float: right;
}
.p-highlighted {
  font-size: 14;
  color: #FF6347;
}
